

<h1><%= t('.news') %></h1>

<%= form_tag(articles_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], class: "search-field", placeholder: t('.search') %>
<%= submit_tag t('.search'), :name => nil, class: "btn btn-primary" %>
<% end %>

<div class="pagination get-in-line">
  <%= will_paginate @thing, renderer: BootstrapPagination::Rails, previous_label: t('.newer'), next_label: t('.older') %>
</div>

<% if current_user.try(:admin?) %>
<%= link_to t('.new-article'), new_article_path, class: "btn btn-primary get-in-line" %>
<% end %>

<% @articles.each do |article| %>

<article class='row article-index'>

  <div class="image col-sm-3">

    <%= image_tag(article.image, class: 'list_image') %>

  </div>

  <div class="article-info col-sm-9">

    <h3>
      <%= link_to  article.title , article %>
    </h3>

    <!--<div class="controlls">
  -->

  <!-- Check if admin -->
  <% if current_user.try(:admin?) %>
  <%= link_to t('.edit') || 'Edit', edit_article_path(article), class: 'btn btn-warning' %>
  <%= link_to t('.delete') || 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %> 


  <!-- Add author and timestamp -->
  <div class='author'>
    <%= t('.created') %> <%= User.find(article.user_id).name %>
    <%= time_ago_in_words  article.created_at %> <%= t('.ago') %>.
    <%= t('.category') %> <%= article.category %>
  </div>

</div>

</article>
<br/>
<% end %>

<div class="pagination">
  <%= will_paginate @thing, renderer: BootstrapPagination::Rails, previous_label: "Newer", next_label: "Older" %>
</div>


