<div id="notice"><%= notice %></div>

<h1>News</h1>
<!--TODO: check if admin-->
<%= link_to 'New Article', new_article_path, class: "btn btn-primary" %>
<br>
<br>

<%= form_tag(articles_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], class: "search-field", placeholder: "Search" %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
<% end %>

<% @articles.each do |article| %>
    <article>
      <h3><%= article.title %></h3>

      <div class="image-controls-wrapper">
        <div class="image-wrapper">
          <!-- TODO: add here-->
          some image
        </div>
        <div class="controls-wrapper">
          <%= link_to 'Show', article, class: 'btn btn-default' %>
          <% if current_user.try(:admin?) || current_user?(article.user) %>
              <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning' %>
              <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
      <div class="content-wrapper">
        <%= article.content %>
      </div>
    </article>
    <br/>


<% end %>


