<h1><%= @user.name %>'s Profile</h1>

<div class="row">

	<div class="col-sm-6">

		<div class="image-wrapper">
			<%= image_tag(@user.avatar) %>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="profile-wrapper big-text">

			<div class="big-text">
				<label><b>Name:</b></label>
				<%= @user.name %>
			</div>
			<br>
			<div>
				<label><b>Email:</b></label>
				<%= @user.email %>
			</div>  				

		</div>
	</div>

</div>

<div class="row">

	<div class="user-posts">
		<h3 class="border-bottom">Your Adoptions</h3>

		<table class="table table-striped">
			<% @user.adoptions.each do |adoption| %>
			<tr>
				<td><%= adoption.title %></td>
				<td><%= time_ago_in_words  adoption.created_at %></td>
				<td><%= link_to 'Show', adoption, class: 'btn btn-default' %></td>
				<td><%= link_to 'Edit', edit_adoption_path(adoption), class: 'btn btn-warning' %></td>
				<td><%= link_to 'Destroy', adoption, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
			</tr>
			<% end %> 
		</table>

		<h3 class="border-bottom">Your Found Animals</h3>
		<table class="table table-striped">
			<% @user.found_animals.each do |found_animal| %>
			<tr>
				<td><%= found_animal.title %></td>
				<td><%= time_ago_in_words  found_animal.created_at %></td>
				<td><%= link_to 'Show', found_animal, class: 'btn btn-default' %></td>
				<td><%= link_to 'Edit', edit_adoption_path(found_animal), class: 'btn btn-warning' %></td>
				<td><%= link_to 'Destroy', found_animal, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
			</tr>
			<% end %> 
		</table>

		<h3 class="border-bottom">Your Lost Animals</h3>
		<table class="table table-striped">
			<% @user.lost_animals.each do |lost_animal| %>
			<tr>
				<td><%= lost_animal.title %></td>
				<td><%= time_ago_in_words  lost_animal.created_at %></td>
				<td><%= link_to 'Show', lost_animal, class: 'btn btn-default' %></td>
				<td><%= link_to 'Edit', edit_adoption_path(lost_animal), class: 'btn btn-warning' %></td>
				<td><%= link_to 'Destroy', lost_animal, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
			</tr>
			<% end %> 
		</table>
	</div>

</div>