<h1><%= @user.name %>'s Profile</h1>

<div class="row">
	<div class="col-sm-12">

		<div class="image-wrapper">
			<%= image_tag(@user.avatar) %>
		</div>
		<br />

		<div class="profile-wrapper big-text">

			<div class="big-text">
				<label><b>Name:</b></label>
				<%= @user.name %>
			</div>

			<div>
				<label><b>Email:</b></label>
				<%= @user.email %>
			</div>  				

		</div>
		<div class="user-posts">
			<h2>Your Adoptions</h2>
				<% @user.adoptions.each do |adoption| %>
				<% if current_user?(adoption.user) %>
				  <div class='animal_box'>
				    <%= image_tag(adoption.image, class: 'list_image') %>
				    <h3><%= adoption.title %></h3>
				    <p><%= adoption.description %></p>   
				    <div class="clearfix"></div>
				    <div>
				      <h4>Contacts:</h4>
				      <div><b>Name:</b>&nbsp;<%= adoption.name %></div>
				      <div><b>Phone:</b>&nbsp;<%= adoption.phone %></div>
				      <div><b>Email:</b>&nbsp;<%= adoption.email %></div>
				      <div><b>City:</b>&nbsp;<%= adoption.city %></div>
				    </div>
				    <div>
				          <span><%= link_to 'Edit', edit_adoption_path(adoption), class: 'btn btn-warning' %></span>
				          <span><%= link_to 'Destroy', adoption, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></span>
				      </div>
				    <div id='time'><%= time_ago_in_words  adoption.created_at %>&nbsp;</div>
				  </div>
			  	<% end %> 
			  	<% end %> 

			<h2>Your Found Animals</h2>
			  	<% @user.found_animals.each do |found_animal| %>
			 	 <% if current_user?(found_animal.user) %>
				  <div class='animal_box'>
				    <%= image_tag(found_animal.image, class: 'list_image') %>
				    <h3><%= found_animal.title %></h3>
				    <p><%= found_animal.description %></p>   
				    <div class="clearfix"></div>
				    <div>
				      <h4>Contacts:</h4>
				      <div><b>Name:</b>&nbsp;<%= found_animal.name %></div>
				      <div><b>Phone:</b>&nbsp;<%= found_animal.phone %></div>
				      <div><b>Email:</b>&nbsp;<%= found_animal.email %></div>
				      <div><b>City:</b>&nbsp;<%= found_animal.city %></div>
				    </div>
				    <div>
				          <span><%= link_to 'Edit', edit_found_animal_path(found_animal), class: 'btn btn-warning' %></span>
				          <span><%= link_to 'Destroy', found_animal, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></span>
				        
				      </div>
				    <div id='time'><%= time_ago_in_words  found_animal.created_at %>&nbsp;</div>
				  </div>
				<% end %> 
				<% end %>

			<h2>Your Lost Animals</h2>
				<% @user.lost_animals.each do |lost_animal| %>
					<% if current_user?(lost_animal.user) %>
						<div class='animal_box'>
						  <%= image_tag(lost_animal.image, class: 'list_image') %>
						  <h3><%= lost_animal.title %></h3>
						  <p><%= lost_animal.description %></p>
						  <div class="clearfix"></div>
						  <div>
						    <h4>Contacts:</h4>
						    <div><b>Name:</b>&nbsp;<%= lost_animal.name %></div>
						    <div><b>Phone:</b>&nbsp;<%= lost_animal.phone %></div>
						    <div><b>Email:</b>&nbsp;<%= lost_animal.email %></div>
						    <div><b>City:</b>&nbsp;<%= lost_animal.city %></div>
						  </div>
						  <div>
						    <span><%= link_to 'Edit', edit_lost_animal_path(lost_animal), class: 'btn btn-warning' %></span>
						    <span><%= link_to 'Delete', lost_animal, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%></span>   
						  </div>
						  <div id='time'><%= time_ago_in_words  lost_animal.created_at %>&nbsp;</div>
						</div> 
					<% end %>     
				<% end %>
		</div>
	</div>
</div>