 <p id="notice"><%= notice %></p>

<h1>Founded Animals</h1>

<%= form_tag(found_animals_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
<% end %> 

<% @found_animals.each do |found_animal| %>
  <div class='animal_box'>
    <%= image_tag(found_animal.image_url, class: 'list_image') %>
    <h3><%= found_animal.title %></h3>
    <p><%= found_animal.description %></p>   
    <div>
      <h4>Contacts:</h4>
      <div><b>Name:</b>&nbsp;<%= found_animal.name %></div>
      <div><b>Phone:</b>&nbsp;<%= found_animal.phone %></div>
      <div><b>Email:</b>&nbsp;<%= found_animal.email %></div>
      <div><b>City:</b>&nbsp;<%= found_animal.city %></div>
    </div>
    <div>
      <span><%= link_to 'Show', found_animal %></span>
      <span><%= link_to 'Edit', found_animal_path(found_animal) %></span>
      <span><%= link_to 'Destroy', found_animal, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </div>
    <div id='time'><%= time_ago_in_words  found_animal.created_at %>&nbsp;</div>
  </div>
<% end %>  

<br>  

<%= link_to 'New Found animal', new_found_animal_path %> 