<h1>Pet Adoptions</h1>
<% if current_user.try(:admin?) || logged_in? %>
  <%= link_to 'New Adoption post', new_adoption_path, class: "btn btn-primary" %>
<% end %>  
<br>
<br>

<%= form_tag(adoptions_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], class: "search-field", placeholder: "Search"  %>
  <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
<% end %> 

<% @adoptions.each do |adoption| %>
  <div class='animal_box'>
    <%= image_tag(adoption.image_url, class: 'list_image') %>
    <h3><%= adoption.title %></h3>
    <p><%= adoption.description %></p>   
    <div class="clearfix"></div>
    <div>
      <h4>Contacts:</h4>
      <div><b>Name:</b>&nbsp;<%= adoption.name %></div>
      <div><b>Phone:</b>&nbsp;<%= adoption.phone %></div>
      <div><b>Email:</b>&nbsp;<%= adoption.email %></div>
      <div><b>City:</b>&nbsp;<%= adoption.city %></div>
    </div>
    <div>
        <% if current_user.try(:admin?) || current_user?(adoption.user) %>
          <span><%= link_to 'Edit', edit_adoption_path(adoption), class: 'btn btn-warning' %></span>
          <span><%= link_to 'Destroy', adoption, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></span>
        <% end %> 
      </div>
    <div id='time'><%= time_ago_in_words  adoption.created_at %>&nbsp;</div>
  </div>
<% end %>  