<h1>Pet Adoptions</h1>

<%= form_tag(adoptions_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], class: "search-field", placeholder: "Search"  %>
<%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
<% end %> 

<div class="pagination get-in-line">
  <%= will_paginate @adoptions, renderer: BootstrapPagination::Rails, previous_label: "Newer", next_label: "Older" %>
</div>

<% if current_user.try(:admin?) || logged_in? %>
<%= link_to 'New Adoption post', new_adoption_path, class: "btn btn-primary  get-in-line pull-right" %>
<% end %> 
<br>
<br>

<div id="adoptions-wrapper">
  <% @adoptions.each do |adoption| %>

  <div class="adoption-item-wrapper <%= cycle("even", "odd") %>">
    <div class="left">
      <div class="adoption-image-wrapper">
        <%= image_tag(adoption.image, class: 'list_image') %>
      </div>
      <h3><%= adoption.name %></h3>
    </div>  

    <div class="right">
      <p class="description"><%= adoption.description %></p>
      <h4>Contacts:</h4>
      <table>
        <tr>
          <td><b>Name:</b></td>
          <td><%= adoption.name%></td>
        </tr>
        <tr>
          <td><b>Phone:</b></td>
          <td><%= adoption.phone%></td>
        </tr>
        <tr>
          <td><b>Email:</b></td>
          <td><%= adoption.email%></td>
        </tr>
        <tr>
          <td><b>City:</b></td>
          <td><%= adoption.city%></td>
        </tr>
      </table>

      <% if current_user.try(:admin?) || current_user?(adoption.user) %>
      <%= link_to 'Destroy', adoption, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger pull-right' %>
      <%= link_to 'Edit', edit_adoption_path(adoption), class: 'btn btn-warning pull-right  margin-right' %>
      <% end %> 

    </div>
    
  </div>
  
  

  <% end %>
</div>



<div class="pagination">
  <%= will_paginate @adoptions, renderer: BootstrapPagination::Rails, previous_label: "Newer", next_label: "Older" %>
</div>