<h1>Petcyclopedia Topics</h1>

<%= form_tag(topics_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], class: "search-field" %>
<%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
<% end %> 

<div class="pagination get-in-line">
  <%= will_paginate @topics, renderer: BootstrapPagination::Rails, previous_label: t('.newer'), next_label: t('.older') %>
</div>

<% if current_user.try(:admin?) %>
<%= link_to 'New Topic', new_topic_path, class: 'btn btn-primary pull-right' %>
<% end %>
<br>
<br>

<% @topics.each do |topic| %>

<div class="book-wrapper">
  <div class="topic" id="<%= topic.title %>">
    <div class="image-wrapper">
      <img class="img" src ="<%= topic.picture %>" alt="Error loading picture" >      
    </div>

    <h3><%= topic.title %></h3>

  </div>

  <div class="controls text-right">
    <%= link_to 'Show', topic, class: 'btn btn-success' %>
    <% if current_user.try(:admin?) %>
    <%= link_to 'Edit', edit_topic_path(topic), class: 'btn btn-warning' %>
    <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>

<% end %>

