<p id="notice"><%= notice %></p>

<h1>Listing Vet Centers</h1>



    <% @vet_centers.each do |vet_center| %>
      <div class='animal_box'>
    <%= image_tag(vet_center.image_url, class: 'list_image') %>
    <h3><%= vet_center.title %></h3>
    <p><%= vet_center.description %></p>   
    <div>
      <h4>Contacts:</h4>
      
      <div><b>Phone:</b>&nbsp;<%= vet_center.phone %></div>
      
	   <div><b>Website:</b>&nbsp;<%= link_to vet_center.website, vet_center.website %></div>
      <div><b>City:</b>&nbsp;<%= vet_center.city %></div>
    </div>
    <div>
      <!-- <span><%= link_to 'Show', vet_center %></span>
      <span><%= link_to 'Edit', vet_center_path(vet_center) %></span>
      <span><%= link_to 'Destroy', vet_center, method: :delete, data: { confirm: 'Are you sure?' } %></span> -->
      <div>
        <% if current_user.try(:admin?) %>
          <span><%= link_to 'Show', vet_center %></span>
          <span><%= link_to 'Edit', edit_vet_center_path(vet_center) %></span>
          <span><%= link_to 'Destroy', vet_center, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        <% end %> 

         <% if current_user.try(:admin?) %>
         <%= link_to 'New Vet center', new_vet_center_path, class: "btn btn-primary" %>
       <% end %>  
      </div>
    </div>
    <div id='time'><%= time_ago_in_words  vet_center.created_at %>&nbsp;</div>
  </div>
    <% end %>




