<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @vet_center.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vet_center.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @vet_center.image_url %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @vet_center.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @vet_center.website %>
</p>

<p>
  <strong>City:</strong>
  <%= @vet_center.city %>
</p>

<%= link_to 'Edit', edit_vet_center_path(@vet_center) %> |
<%= link_to 'Back', vet_centers_path %>
