<h1>Missing Paws Forum</h1>

<% if current_user.try(:admin?) || logged_in? %>
	<%= link_to 'New Topic', new_forum_path, class: "btn btn-primary get-in-line" %>
<% end %>	

<div id='posts'>
  <% @forums.each do |forum| %>
    <div class="post">
      <h2 class="title"><%= link_to forum.title, forum %></h2>
      <span class="date">Replies: <%= forum.forum_comments.count %>&nbsp; Views: <%= forum.views %></span>
      <span class="date">Published at <%= time_ago_in_words forum.created_at %> by <%= forum.user.name %></span>

      <% if current_user.try(:admin?) || current_user?(forum.user) %>
      	<%= link_to 'Edit', edit_forum_path(forum), class: 'btn btn-primary custom-btn1' %>
      <% end %>	
      <% if current_user.try(:admin?) %>
      <%= link_to 'Delete', forum, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger custom-btn2' %>  
      <% end %>  
    </div>
  <% end %> 
</div>
 