<h3>
	<%= @forum.title %>
</h3>

<div class="col-sm-2">
	<%= @forum.user.name %>
</div>

<div class="col-sm-10">
	<%= @forum.content %>
</div>	

<%= render  "forum_comments/comment" %>

<%= render "forum_comments/form" %>

<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>

<div id="post_content">
	<h1><%= @forum.title %></h1>
	<p><%= @forum.content %></p>
	<div id="comments">
		<%= render partial: "forum_comments/comment" %>
		<%= render "forum_comments/form" %>
	</div>	
</div>

