<p id="notice"><%= notice %></p>

<h1>Listing Pet Academies</h1>


    
     <% @pet_academy.each do |pet_academy| %>
      <div class='animal_box'>
    <%= image_tag(pet_academy.image_url, class: 'list_image') %>
    <h3><%= pet_academy.title %></h3>
    <p><%= pet_academy.description %></p>   
    <div>
      <h4>Contacts:</h4>
      
      <div><b>Phone:</b>&nbsp;<%= pet_academy.phone %></div>
      <div><b>Website:</b>&nbsp;<%= pet_academy.website %></div>
      <div><b>City:</b>&nbsp;<%= pet_academy.city %></div>
    </div>
    <div>
      <span><%= link_to 'Show', pet_academy %></span>
      <span><%= link_to 'Edit', pet_academy_path(pet_academy) %></span>
      <span><%= link_to 'Destroy', pet_academy, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </div>
    <div id='time'><%= time_ago_in_words  pet_academy.created_at %>&nbsp;</div>
  </div>
    <% end %>
    

<br>

<%= link_to 'New Pet academy', new_pet_academy_path %>
