<p id="notice"><%= notice %></p>

<h1>Listing Pet Academies</h1>

<%= form_tag(pet_academies_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], class: "search-field", placeholder: "Search"  %>
<%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
<% end %> 



<% @pet_academies.each do |pet_academy| %>

<div class="partner-box">
  <div class="image-wrapper">
    <%= image_tag(pet_academy.image_url, class: 'list_image') %>
  </div>
  <div>
  <h3><a href="<%= pet_academy.website%>"><%= pet_academy.title %></a></h3>
  </div>
  <div class="text-right">
    <% if current_user.try(:admin?) %>
    <%= link_to 'Edit', edit_vet_center_path(pet_academy), class: 'btn btn-warning' %>
    <%= link_to 'Destroy', pet_academy, class: 'btn btn-danger' , method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
<% end %>