<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pet_academy.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pet_academy.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @pet_academy.image_url %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @pet_academy.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @pet_academy.website %>
</p>

<p>
  <strong>City:</strong>
  <%= @pet_academy.city %>
</p>

<%= link_to 'Edit', edit_pet_academy_path(@pet_academy) %> |
<%= link_to 'Back', pet_academies_path %>
