<p id="notice"><%= notice %></p>

<h1>Lost Animals</h1>
<% if current_user.try(:admin?) || logged_in? %>
  <%= link_to 'New Lost animal', new_lost_animal_path, class: "btn btn-primary" %>
<% end %>  
<br>
<br>

<%= form_tag(lost_animals_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], class: "search-field", placeholder: "Search"  %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
<% end %>

<% @lost_animals.each do |lost_animal| %>
    <div class='animal_box'>
      <%= image_tag(lost_animal.image_url, class: 'list_image') %>
      <h3><%= lost_animal.title %></h3>
      <p><%= lost_animal.description %></p>
      <div class="clearfix"></div>
      <div>
        <h4>Contacts:</h4>
        <div><b>Name:</b>&nbsp;<%= lost_animal.name %></div>
        <div><b>Phone:</b>&nbsp;<%= lost_animal.phone %></div>
        <div><b>Email:</b>&nbsp;<%= lost_animal.email %></div>
        <div><b>City:</b>&nbsp;<%= lost_animal.city %></div>
      </div>
      <div>
        <% if current_user.try(:admin?) || current_user?(lost_animal.user) %>
          <span><%= link_to 'Edit', edit_lost_animal_path(lost_animal), class: 'btn btn-warning' %></span>
          <span><%= link_to 'Destroy', lost_animal, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%></span>   
        <% end %> 
      </div>
      <div id='time'><%= time_ago_in_words  lost_animal.created_at %>&nbsp;</div>
    </div>     
<% end %>



