<h1>Lost Animals</h1>

<%= form_tag(lost_animals_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], class: "search-field", placeholder: "Search"  %>
<%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
<% end %>

<div class="pagination get-in-line">
  <%= will_paginate @lost_animals, renderer: BootstrapPagination::Rails, previous_label: t('.newer'), next_label: t('.older') %>
</div>

<% if current_user.try(:admin?) || logged_in? %>
<%= link_to 'New Lost animal', new_lost_animal_path, class: "btn btn-primary pull-right" %>
<% end %> 


<% @lost_animals.each do |lost_animal| %>

<div class='animal_box'>

  <div class="top">

    <div>
      <%= image_tag(lost_animal.image, class: 'list_image') %>
      <h3><%= lost_animal.title %></h3>
      <br>
      <p><%= lost_animal.description %></p>
    </div>

    <br>

    <div>
      <button class='btn btn-default show-contacts'>More</button>
      <% if current_user.try(:admin?) || current_user?(lost_animal.user) %>
      <%= link_to 'Edit', edit_lost_animal_path(lost_animal), class: 'btn btn-warning' %>
      <%= link_to 'Delete', lost_animal, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%>  
      <% end %>
    </div>

  </div>

  <div class="bottom">

    <table class="table">
      <tr>
        <td><b>Name:</b></td>
        <td><%= lost_animal.name %></td>
      </tr>
      <tr>
        <td><b>Phone:</b></td>
        <td><%= lost_animal.phone %></td>
      </tr>
      <tr>
        <td><b>Email:</b></td>
        <td><%= lost_animal.email %></td>
      </tr>
      <tr>
        <td><b>City:</b></td>
        <td><%= lost_animal.city %></td>
      </tr>
    </table>
  </div>

  <div id='time'><%= time_ago_in_words  lost_animal.created_at %>&nbsp;</div>

</div>     
<% end %>

<div class="pagination get-in-line">
  <%= will_paginate @lost_animals, renderer: BootstrapPagination::Rails, previous_label: t('.newer'), next_label: t('.older') %>
</div>

