<h1>New Lost Animal</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@lost_animal) do |f| %>
		<% if @lost_animal.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@lost_animal.errors.count, "error") %> prohibited this lost_animal from being saved:</h2>

			<ul>
				<% @lost_animal.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<div class="field">
			<%= f.label :title %><br>
			<%= f.text_field :title, class: 'form-control' %>
		</div>
		<div class="field">
			<%= f.label :description %><br>
			<%= f.text_area :description, class: 'form-control', rows: 10 %>
		</div>
		<div class="field">
			<%= f.label :image_url %><br>
			<%= f.text_field :image_url, class: 'form-control' %>
		</div>
		<div class="field">
			<%= f.label :name %><br>
			<%= f.text_field :name, class: 'form-control' %>
		</div>
		<div class="field">
			<%= f.label :phone %><br>
			<%= f.text_field :phone, class: 'form-control' %>
		</div>
		<div class="field">
			<%= f.label :email %><br>
			<%= f.text_field :email, class: 'form-control' %>
		</div>
		<div class="field">
			<%= f.label :city %><br>
			<%= f.text_field :city, class: 'form-control' %>
		</div>
		<%= f.submit "Submit", class: "btn btn-primary" %>     
		<% end %>
	</div>
</div>

<%= link_to 'Back', lost_animals_path %>
