<aside class="col-sm-4">

  <h1 class="text-right"><%= t('.recent') || "Recent" %></h1>

  <div class="recent-item" class="row">

    <h3 class="text-center"><%= t('.lost') || "Lost" %></h3>

    <%= image_tag(LostAnimal.order("created_at").last.image) %>


    <h4><a href="/lost_animals"><%= LostAnimal.order("created_at").last.title %></a></h4>

    <div class="corner"></div>
    <div class="clearfix"></div>

  </div>

  <div class="recent-item" class="row">

    <h3 class="text-center"><%= t('.found') || "Found" %></h3>

    <%= image_tag(FoundAnimal.order("created_at").last.image) %>


    <h4><a href="/found_animals"><%= FoundAnimal.order("created_at").last.title %></a></h4>

    <div class="corner"></div>
    <div class="clearfix"></div>

  </div>

  <div class="recent-item" class="row">

    <h3 class="text-center"><%= t('.adoption') || "Adoption" %></h3>

    <%= image_tag(Adoption.order("created_at").last.image_url) %>


    <h4><a href="/adoptions"><%= Adoption.order("created_at").last.title %></a></h4>

    <div class="corner"></div>
    <div class="clearfix"></div>

  </div>

  <div class="recent-item" class="row">

    <h3 class="text-center"><%= t('.petcyclopedia') || "Petcyclopedia" %></h3>

    <%= image_tag(Topic.order("RANDOM()").first.picture) %>


    <h4><a href="/topics/<%= Topic.order("RANDOM()").first.id %>"><%= Topic.order("RANDOM()").first.title %></a></h4>

    <div class="corner"></div>
    <div class="clearfix"></div>

  </div>

  <div class="recent-item">
    <h3><%= t('.follow-us') || "Follow us" %></h3>
    <!--  code for facebook page starts here -->         
    <div class="fb-page" data-href="https://www.facebook.com/pages/Missing-Paws/937407539652514?skip_nax_wizard=true" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"></div>

    <div class="fb-xfbml-parse-ignore">
      <blockquote cite="https://www.facebook.com/pages/Missing-Paws/937407539652514?skip_nax_wizard=true">
        <a href="https://www.facebook.com/pages/Missing-Paws/937407539652514?skip_nax_wizard=true">Missing Paws</a>
      </blockquote>
    </div>
    <!--  code for facebook page ends here --> 

    <div class="corner"></div>
    <div class="clearfix"></div>

  </div>

</aside>