<!DOCTYPE html>
<html>
<head>

  <title>MissingPaws</title>

  <!-- Include all stylesheets -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Include add scripts -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Set page encoding -->
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <!-- Set rendering engine for old IE versions -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Set viewport width for responsive design -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Add custom fond -->
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

</head>
<body>

  <!--Code for Facebook page -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/bg_BG/sdk.js#xfbml=1&version=v2.4";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="container" id="main-wrapper">

    <header class="row">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">Missing paws</a>-->
            <%= link_to image_tag("Logo2.png"), articles_path, class: 'navbar-brand' %>

          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-default navbar-nav">
              <li class="<%= 'active' if params[:controller] == 'articles' %>">
              </li>
              <li class="<%= 'active' if params[:controller] == 'lost_animals' %>">         
                <%= link_to 'Lost Animals', lost_animals_path %>
              </li>
              <li class="<%= 'active' if params[:controller] == 'found_animals' %>">            
                <%= link_to 'Found Animals', found_animals_path %>
              </li>
              <li class="<%= 'active' if params[:controller] == 'adoptions' %>">             
                <%= link_to 'Adoptions', adoptions_path %>
              </li>
              <li class="<%= 'active' if params[:controller] == 'topics' %>">
                <%= link_to 'Petcyclopedia', topics_path %>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Partners<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Vet centers', vet_centers_path %></li>
                  <li><%= link_to 'Animal shelters', animal_shelters_path %></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Commercial</li>
                  <li><%= link_to 'Pet shops', pet_shops_path %></li>
                  <li><%= link_to 'Pet academy', pet_academies_path %></li>
                  <li><%= link_to 'Pet hotels', pet_hotels_path %></li>
                </ul>
              </li>
            </ul>
            <ul class="nav  navbar-default navbar-nav navbar-right">

              <% if logged_in? %>
              <% if current_user.try(:admin?) %>
              <li><%= link_to "Users", users_path %></li>
              <% end %>  
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.name %><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
              <% else %>
              <li><%= link_to "Log in", login_path %></li>
              <li><%= link_to "Sign up", signup_path %></li>
              <% end %>

            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="row" id="middle">
      <div class="container">

        <section class="col-sm-8" id="main-content">
          <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <%= yield %>
        </section>

        <aside class="col-sm-4">

          <h1 class="text-right">Recent</h1>


          <div class="recent-item" class="row">

            <h3 class="text-center">Lost</h3>

            <%= image_tag(LostAnimal.order("created_at").last.image_url) %>


            <h4><a href="/lost_animals"><%= LostAnimal.order("created_at").last.title %></a></h4>

            <div class="corner"></div>
            <div class="clearfix"></div>

          </div>

          <div class="recent-item" class="row">

            <h3 class="text-center">Found</h3>

            <%= image_tag(FoundAnimal.order("created_at").last.image_url) %>


            <h4><a href="/found_animals"><%= FoundAnimal.order("created_at").last.title %></a></h4>

            <div class="corner"></div>
            <div class="clearfix"></div>

          </div>

          <div class="recent-item" class="row">

            <h3 class="text-center">Adoption</h3>

            <%= image_tag(Adoption.order("created_at").last.image_url) %>


            <h4><a href="/adoptions"><%= Adoption.order("created_at").last.title %></a></h4>

            <div class="corner"></div>
            <div class="clearfix"></div>

          </div>

          <div class="recent-item" class="row">

            <h3 class="text-center">Petcyclopedia</h3>

            <%= image_tag(Topic.order("RANDOM()").first.picture) %>


            <h4><a href="/topics/<%= Topic.order("RANDOM()").first.id %>"><%= Topic.order("RANDOM()").first.title %></a></h4>

            <div class="corner"></div>
            <div class="clearfix"></div>

          </div>

          <div class="recent-item">
            <h3>Follow us</h3>
            <!--  code for facebook page starts here -->         
            <div class="fb-page" data-href="https://www.facebook.com/pages/Missing-Paws/937407539652514?skip_nax_wizard=true" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"></div>

            <div class="fb-xfbml-parse-ignore">
              <blockquote cite="https://www.facebook.com/pages/Missing-Paws/937407539652514?skip_nax_wizard=true">
                <a href="https://www.facebook.com/pages/Missing-Paws/937407539652514?skip_nax_wizard=true">Missing Paws</a>
              </blockquote>
            </div>

            <div class="corner"></div>
            <div class="clearfix"></div>

          </div>
          <!--  code for facebook page ends here -->  

        </aside>
      </div>
    </div>

  </div>

  <footer class="row text-center">

    <div class="container">

      <div class="row">

        <div class="col-sm-2">
          <ul>
            <li>NAVIGATION</li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Lost and Found</a></li>
            <li><a href="#">Adoptions</a></li>
            <li><a href="#">Petcyclopedia</a></li>
          </ul>
        </div>

        <div class="col-sm-2">
          <ul>
            <li>VET CENTERS</li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Lost and Found</a></li>
            <li><a href="#">Adoptions</a></li>
            <li><a href="#">Petcyclopedia</a></li>
          </ul>
        </div>

        <div class="col-sm-2">
          <ul>
            <li>SHELTERS</li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Lost and Found</a></li>
            <li><a href="#">Adoptions</a></li>
            <li><a href="#">Petcyclopedia</a></li>
          </ul>
        </div>

        <div class="col-sm-2">
          <ul>
            <li>PET SHOPS</li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Lost and Found</a></li>
            <li><a href="#">Adoptions</a></li>
            <li><a href="#">Petcyclopedia</a></li>
          </ul>
        </div>

        <div class="col-sm-2">
          <ul>
            <li>PET ACADEMY</li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Lost and Found</a></li>
            <li><a href="#">Adoptions</a></li>
            <li><a href="#">Petcyclopedia</a></li>
          </ul>
        </div>

        <div class="col-sm-2">
          <ul>
            <li>PET HOTELS</li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Lost and Found</a></li>
            <li><a href="#">Adoptions</a></li>
            <li><a href="#">Petcyclopedia</a></li>
          </ul>
        </div>

      </div>

      <div class="row" id="contacts">

        <div class="col-sm-6">
          <p>Contacts:</p>
          <p>Phone: <span class="underline">+359 894 405 432</span> | Email: <span class="underline">sample@mail.com</span></p>
        </div>

        <div class="col-sm-6">

          <a href="https://www.facebook.com/bootsnipp"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
          <a href="https://twitter.com/bootsnipp"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
          <a href="https://plus.google.com/+Bootsnipp-page"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
          <a href="mailto:bootsnipp@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>

        </div>

      </div>

      <div class="row">

        <div class="col-sm-12" id="rights">
          <p>&copy;Missing paws 2015. All rights reserved.</p>
        </div>

      </div>

    </div>
  </footer>

</body>

</html>
