<p id="notice"><%= notice %></p>

<h1>Listing Pet Hotels</h1>

<% @pet_hotel.each do |pet_hotel| %>
      <div class='animal_box'>
    <%= image_tag(pet_hotel.image_url, class: 'list_image') %>
    <h3><%= pet_hotel.title %></h3>
    <p><%= pet_hotel.description %></p>   
    <div>
      <h4>Contacts:</h4>
      
      <div><b>Phone:</b>&nbsp;<%= pet_hotel.phone %></div>
   
	   <div><b>Website:</b>&nbsp;<%= link_to pet_hotel.website, pet_hotel.website %></div>
      <div><b>City:</b>&nbsp;<%= pet_hotel.city %></div>
    </div>
    <div>
      <span><%= link_to 'Show', pet_hotel %></span>
      <span><%= link_to 'Edit', pet_hotel_path(pet_hotel) %></span>
      <span><%= link_to 'Destroy', pet_hotel, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </div>
    <div id='time'><%= time_ago_in_words  pet_hotel.created_at %>&nbsp;</div>
  </div>
    <% end %>

<br>

<%= link_to 'New Pet hotel', new_pet_hotel_path %>
