<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pet_hotel.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pet_hotel.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @pet_hotel.image_url %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @pet_hotel.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @pet_hotel.website %>
</p>

<p>
  <strong>City:</strong>
  <%= @pet_hotel.city %>
</p>

<%= link_to 'Edit', edit_pet_hotel_path(@pet_hotel) %> |
<%= link_to 'Back', pet_hotels_path %>
