<p id="notice"><%= notice %></p>

<h1>Listing Animal Shelters</h1>

<% @animal_shelters.each do |animal_shelters| %>
      <div class='animal_box'>
    <%= image_tag(animal_shelters.image_url, class: 'list_image') %>
    <h3><%= animal_shelters.title %></h3>
    <p><%= animal_shelters.description %></p>   
    <div>
      <h4>Contacts:</h4>
      
      <div><b>Phone:</b>&nbsp;<%= animal_shelters.phone %></div>
      
	   <div><b>Website:</b>&nbsp;<%= link_to animal_shelters.website, animal_shelters.website %></div>
      <div><b>City:</b>&nbsp;<%= animal_shelters.city %></div>
    </div>
    <div>
      <span><%= link_to 'Show', animal_shelters %></span>
      <span><%= link_to 'Edit', animal_shelters_path(animal_shelters) %></span>
      <span><%= link_to 'Destroy', animal_shelters, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </div>
    <div id='time'><%= time_ago_in_words  animal_shelters.created_at %>&nbsp;</div>
  </div>
    <% end %>

<br>

<%= link_to 'New Animal shelter', new_animal_shelter_path %>
