<p id="notice"><%= notice %></p>

<h1>Listing Animal Shelters</h1>

<%= form_tag(animal_shelters_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], class: "search-field", placeholder: "Search"  %>
<%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
<% end %> 

<% if current_user.try(:admin?) %>
<%= link_to 'New Animal shelter', new_animal_shelter_path, class: "btn btn-primary pull-right"%>
<% end %> 
<br>
<br>

<% @animal_shelters.each do |animal_shelters| %>

<div class="box">

  <div class="partner-box">
    <div class="image-wrapper">
      <%= image_tag(animal_shelters.image_url, class: 'list_image') %>
    </div>
    <div>
      <h3><a href="<%= animal_shelters.website%>"><%= animal_shelters.title %></a></h3>
    </div>
  </div>
  
  <div class="text-right">
    <% if current_user.try(:admin?) %>
    <%= link_to 'Edit', edit_vet_center_path(animal_shelters), class: 'btn btn-warning' %>
    <%= link_to 'Destroy', animal_shelters, class: 'btn btn-danger' , method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
<% end %>