<p id="notice"><%= notice %></p>

<h1>Listing Pet Shops</h1>

 <% @pet_shops.each do |pet_shops| %>
      <div class='animal_box'>
    <%= image_tag(pet_shops.image_url, class: 'list_image') %>
    <h3><%= pet_shops.title %></h3>
    <p><%= pet_shops.description %></p>   
    <div>
      <h4>Contacts:</h4>
      
      <div><b>Phone:</b>&nbsp;<%= pet_shops.phone %></div>
      <div><b>Website:</b>&nbsp;<%= pet_shops.website %></div>
      <div><b>City:</b>&nbsp;<%= pet_shops.city %></div>
    </div>
    <div>
      <span><%= link_to 'Show', pet_shops %></span>
      <span><%= link_to 'Edit', pet_shops_path(pet_shops) %></span>
      <span><%= link_to 'Destroy', pet_shops, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </div>
    <div id='time'><%= time_ago_in_words  pet_shops.created_at %>&nbsp;</div>
  </div>
    <% end %>

<br>

<%= link_to 'New Pet shop', new_pet_shop_path %>
