<p id="notice"><%= notice %></p>

<h1>Listing Pet Shops</h1>

<%= form_tag(pet_shops_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], class: "search-field", placeholder: "Search"  %>
<%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
<% end %> 

<% if current_user.try(:admin?) %>
<%= link_to 'New Pet Shop', new_pet_shop_path, class: "btn btn-primary pull-right"%>
<% end %> 
<br>
<br>

<% @pet_shops.each do |pet_shops| %>

<div class="box">

  <div class="partner-box">
    <div class="image-wrapper">
      <%= image_tag(pet_shops.image_url, class: 'list_image') %>
    </div>
    <div>
      <h3><a href="<%= pet_shops.website%>"><%= pet_shops.title %></a></h3>
    </div>
  </div>

  <div class="text-right">
    <% if current_user.try(:admin?) %>
    <%= link_to 'Edit', edit_pet_shop_path(pet_shops), class: 'btn btn-warning' %>
    <%= link_to 'Destroy', pet_shops, class: 'btn btn-danger' , method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
<div class='animal_box'>
  <div class="top">
    <div>
      <button class='btn btn-default show-contacts'>More</button>
      <% if current_user.try(:admin?) || current_user?(pet_shops.user) %>
      
      <% end %>
    </div>

  </div>

  <div class="bottom">

    <table class="table table-striped">
      <tr>
        <td><b>Title:</b></td>
        <td><%= pet_shops.title %></td>
      </tr>
      <tr>
        <td><b>Phone:</b></td>
        <td><%= pet_shops.phone %></td>
      </tr>
      <tr>
        <td><b>Website:</b></td>
        <td><%= pet_shops.website %></td>
      </tr>
      <tr>
        <td><b>City:</b></td>
        <td><%= pet_shops.city %></td>
      </tr>
      <tr>
        <td><b>Description:</b></td>
        <td><%= pet_shops.description %></td>
      </tr>
      
    </table>
  </div>
</div>     
<% end %>